.layer_over{
    margin: 0;
    padding: 0;
}

ul#layer
{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

ul#layer li{
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
}

ul#layer li button{
    margin: 10px 20px;
    width: 161px;
    height: 121px;
    border: 0;
    cursor: pointer;
    padding: 0;
}

ul#layer li button img{
    width: 161px;
    height: 121px;
}

ul#layer li button:active{
    border: 2px solid #262626;
    opacity: 0.5;
}

.campics{
    margin-bottom: 0;
    background-color: #fff;
    text-align: center;
}

.campics div{
    background-color: #ffffff;
    width: 240px;
    height: 200px;
    overflow: hidden;
}

.campics div div{
    padding-top: 10px;
}

.campics div div button:active{
    opacity: 0.5;
}

.campics div div button img{
    height: 100%;
    width: 100%;
}

.cam-button{
    font-size: 16px;
    padding: 0 11px;
    background: #2c3e50;
    border-color: #2c3e50;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 29px;
}

.cam-button:active{
    opacity: 0.5;
}

div#camera_zone{
    padding: 5px;
}

div#camera_zone div:first-child{
    width: 100%;
    height: 70%;
    text-align: center;
    margin: 30px;
}

div#camera_zone div:last-child{
    width: 100%;
    height: 25%;
    //background-color: #ffffff;
    margin-top: 30px;
}

div#cam2{
    width: 100%;
    height: 70%;
    margin: 30px;
    text-align: center;
    display: none;
}

div#cam2 div{
    margin: 30px;
    text-align: center;
}

div#cam2 img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    object-fit: contain;
}

div#cam3{
    width: 100%;
    height: 70%;
    margin: 30px;
    text-align: center;
    display: none;
}

div#cam3 div{
    margin: 30px;
    text-align: center;
}

div#cam3 img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    object-fit: contain;
}

.frame-select{
    opacity: 0.4;
}

.upload_but{
    opacity: 0;
    position: absolute;
    margin-left: -40px;
    margin-top: -25px;
    padding: 0;
    font-size: 90px;
    cursor: pointer;
    filter: alpha(opacity=0);
}

.user_imgs{
    outline: none;
}

.user_imgs:active{
    opacity: 0.5;
}

.mobile_frame{
    display: none;
}