div#main1{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #fafafa;
    height: auto;
}

div#header{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    margin: 0;
}

section#active_page{
    background-color: #fafafa;
    margin-top: 5%;
}

.logo{
    margin: 0 auto;
    padding: 10px 100px;
    background-color: #ffffff;
}

.camag1{
    font-family: "Brush Script MT";
    font-size: 2.5em;
    color: #2c3e50;
    font-weight: 400;
    background-color: #ffffff;
}

.sign-out{
    font-family: sans-serif;
    font-size: 15px;
    background: #2c3e50;
    border-color: #2c3e50;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    color: #fff;
    width: 90px;
    float: right;
    font-weight: 300;
    padding: 5px 10px;
    text-align: center;
    margin-top: 10px;
}

.sign-out:active{
    opacity: 0.5;
    background: #34495e;
    border-color: #34495e;
}


.dash-side{
    margin-top: 40px;
    width: 200px;
    color: #fafafa;
    -webkit-box-flex: 1;
    flex-shrink: 0;
    height: auto;
    padding: 0;
    float: left;
    position: relative;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
}

.dash-button{
    background-color: #ffffff;
    line-height: 20px;
    color: #999;
    margin: 10px auto;
    padding: 10px 20px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #efefef;
    border-radius: 1px;
}

.dash-button1{
    background-color: #ffffff;
    line-height: 20px;
    color: #999;
    margin: 5px auto;
    padding: 0;
    font-weight: 200;
    cursor: pointer;
    border: 1px solid #efefef;
    border-radius: 1px;
}

.dash-button:hover{
    background-color: #2c3e50;
    color: #ffffff;
    padding-left: 40px;
    padding-bottom: 20px;
}

.dash-button_selected{
    background-color: #2c3e50;
    color: #ffffff;
}

.volume{
    margin-left: 220px;
    padding: 10px;
}

div#header2{
    display: none;
}