.user_profile_header{
    padding: 0;
    margin-bottom: 44px;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    width: 100%;
}

.user_profile{
    flex-grow: 1;
    margin: 0 auto 30px;
    width: 100%;
    border: 0 solid #000;
}

@media (min-width: 736px){
    .user_profile{
        box-sizing: content-box;
        padding: 40px 20px 0;
        width: calc(100% - 40px);
    }
}

.profile_img_box1{
    margin-right: 30px;
    float: left;

}

.profile_img_box2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.profile_img{
    border: 0;
    cursor: pointer;
    height: 150px;
    padding: 0;
    width: 150px;
}

.profile_img1{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    cursor: pointer;
}

.profile_side{
    color: #262626;
    flex-shrink: 1;
    min-width: 0;
    float: left;
    margin-left: 60px;
    flex-basis: 30px;
    -webkit-box-flex: 2;
}

.profile_side_top{
    margin-bottom: 20px;
    margin-top: 0;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-shrink: 1;
    min-width: 0;
}

.profile_side_top h1{
    font-weight: 300;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 34px;
    line-height: 40px;
}

.profile_side_top a{
    margin-left: 30px;
    margin-top: 5px;
    display: block;
    float: left;
    padding: 0;
}

.profile_side_top a span{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}

.profile_side_top a span button{
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    -webkit-appearance: none;
    cursor: pointer;
    border-color: #999;
    background: 0 0;
    color: #999;
    font-size: 16px;
    line-height: 29px;
    padding: 0 11px;
}

.profile_side_top a span button:active{
    opacity: 0.5;
}

.profile_side ul{
    margin-top: 0;
    margin-bottom: 20px;
    list-style: none;
    color: #262626;
    padding: 0;
    border: 0;
}

.profile_side ul li{
    font-size: 17px;
    margin-right: 40px;
    margin-left: 0;
    display: list-item;
}

.profile_side ul li span{
    color: inherit;
}

.profile_side ul li span span{
    color: #262626;
    font-weight: 600;
}


.profile_side_down{
    font-size: 17px;
    line-height: 24px;
}

.profile_side_down h2{
    display: inline;
    font-weight: 600;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.dash_img{
    margin-bottom: 0;
}

.dash_img1{
    background-color: #edeeee;
    width: 240px;
    height: 200px;
    overflow: hidden;
    float: left;
}

.dash_img2{
    padding: 10px;
}

.dash_img3{
    height: 100%;
    width: 100%;
}