div#main{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #fafafa;
    text-align: center;
    box-sizing: border-box;
    height: auto;
}

article#container{
    margin: 30px auto 0;
    text-align: center;
    justify-content: center;
    max-width: 935px;
    width: 100%;
}

.side1{
    background-image: url('/camagru/images/phone.png');
    margin-top: 90px;
    height: 618px;
    width: 454px;
    float: left;
    flex-basis: 454px;
    margin-left: -35px;
    margin-right: -15px;
}

.side2{
    justify-content: center;
    margin-top: 90px;
    max-width: 350px;
    text-align: center;
    color: #262626;
    -webkit-box-flex: 1;
    flex-shrink: 0;
    height: auto;
    padding: 0;
    float: left;
    position: relative;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
}

.subform{
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.camag{
    margin: 5px auto 30px;
    font-family: "Brush Script MT";
    font-size: 4.5em;
    font-weight: 100;
    background-color: #ffffff;
}

.myform{
    background-color: #ffffff;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
}

.sign_text{
    background-color: #ffffff;
    font-size: 17px;
    line-height: 20px;
    margin: 0 40px 50px;
    text-align: center;
    color: #999;
    font-weight: 400;
}

.sign-img{
    height: 427px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 240px;
}

.input-box{
    background-color: #ffffff;
    background: 0 0;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 9px 8px 7px;
    outline: none;
    -webkit-appearance: none;
    width: 100%;
}

.input-block{
    background-color: #ffffff;
    margin: 0 40px 6px;
    position: relative;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.sign-button{
    display: block;
    position: relative;
    margin: 15px auto;
    width: 100%;
}

.sign-butt{
    font-size: 16px;
    padding: 0 11px;
    background: #2c3e50;
    border-color: #2c3e50;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    color: #fff;
    width: 100%;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 29px;
}

.sign-butt::after{
    content: '.';
    display: inline-block;
    visibility: hidden;
    width: 0;
}

.sign-button:active{
    opacity: 0.5;
    background: #34495e;
    border-color: #34495e;
}

.sign-next{
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 15px 0;
}

.sign-next p a:active{
    color: #a0a0a0 !important;
}

@media only screen and (min-width: 0px) and (max-width: 550px){
    .side1{
        display: none;
    }

    .side2{
        margin: 0 auto;
        padding: 0;
        position: relative;
        float:none;
    }

    article#container{
        margin: 0;
        text-align: center;
        max-width: 500px;
    }

    .camag{
        font-size: 3em;
        margin-bottom: 5px;
    }

    .subform{
        padding: 0;
    }

    .sign_text{
        font-size: 15px;
        margin: 0 20px 10px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 770px){
    .side1{
        width: 40%;
        height: 408px;
        background-image: url('/camagru/images/instafront.jpg');
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 0;
        margin-bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        float: left;
    }

    .side2{
        width: 45%;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 30px;
        margin-bottom: 0;
        float: right;
        display: inline-block;
        height: auto;
    }
    article#container{
        max-width: 770px;
        text-align: center;
        margin-top: 20px;
        justify-content: center;
    }

    .sign-img{
        display: none;
    }

    .camag{
        font-size: 3.5em;
        margin-bottom: 10px;
    }

    .subform{
        padding: 0;
    }

    .sign_text{
        font-size: 15px;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.login-form{
    background-color: #ffffff;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
    display: none;
}

.signup-form{
    background-color: #ffffff;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
    display: block;
}

.sign_error{
    background-color: #ffffff;
    font-size: 0.8em;
    line-height: 20px;
    margin: 0 5px 10px;
    text-align: center;
    color: #f00;
}

.hidden{
    display: none;
}