section#gallery1{
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

section#gallery1 div{
    margin-bottom: 30px;
}

section#gallery1 div div article{
    margin-bottom: 60px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin-left: -1px;
    margin-right: -1px;
}

.gala_header{
    height: 64px;
    padding: 14px 20px;
    webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.gala_header div{
    display: block;
    flex-shrink: 1;
    overflow: hidden;
    line-height: 0;
    flex-grow: 1;
    background-color: #fff;
}

.gala_header div div{
    margin-right: 100%;
    display: inline-block;
    max-width: 100%;
    font-size: 1.2em;
    line-height: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

.gala_image{
    background-color: #fff;
}

.gala_image div{
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    box-shadow: inset 0 0 20px 0 #efefef;
    background-color: #efefef;
    display: block;
    margin: 0 !important;
    width: 100%;
    overflow: hidden;
}

.gala_image div div{
    max-height: 600px;
    max-width: 600px;
    display: block;
    overflow: hidden;
}

.gala_img{
    height: 100%;
    width: 100%;
}

.gala_comment{
    padding: 0 24px;
    font-size: 15px;
    line-height: 18px;
    max-height: 355px;
    background-color: #fff;
}

.gala_comment_text{
    background-color: #fff;
    font-weight: 600;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}

.gala_comment ul{
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: -5px;
    margin-bottom: 7px !important;
    list-style: none;
    max-height: 222px;
    overflow-y: scroll;
    background-color: #fff;
}

.gala_comment ul li{
    margin-bottom: 7px;
    position: relative;
    word-wrap: break-word;
    display: list-item;
    text-align: -webkit-match-parent;
    background-color: #fff;
}

.gala_comment ul li span{
    font-family: "Lucida Grande";
    background-color: #fff;
}

.gala_comment_user{
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
    font-size: 15px;
    line-height: 18px;
}

.gala_comment_box{
    min-height: 68px;
    align-items: center;
    border-top: 1px solid #efefef;
    background-color: #ffffff !important;
    flex-direction: row;
    justify-content: center;
    margin-top: 13px;
}

.like{
    width: 30px;
    height: 30px;
}

.gala_comment hr{
    background-color: #efefef;
    color: #efefef;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.9em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.comment_form{
    margin-top: -30px;
}

.comment_text{
    font-size: 15px;
    border: none;
    color: #262626;
    outline: none;
    background-color: #ffffff !important;
    width: 479px;
    height: 20px;
    padding: 1px;
    font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

ul#dash_cc{
    margin-top: -5px;
    margin-bottom: 7px !important;
    list-style: none;
    background-color: #fff;
    margin-left: -20px;
}

.user_button{
    font-size: 16px;
    padding: 0 11px;
    background: #2c3e50;
    border-color: #2c3e50;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 29px;
}

.user_button:active{
    opacity: 0.5;
}