*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
}

body{
    font-family: "Helvetica Neue";
    overflow-y: scroll;
    line-height: 1;
    margin: 0;
    padding: 0;
    display: block;
    border: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

div{
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer{
    max-width: 935px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
}

.foot{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 20px;
    text-align: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }


td{
    vertical-align: top;
}

th{
    vertical-align: top;
}