@media only screen and (min-width: 0px) and (max-width: 396px){
    .profile_img{
        width: 100px;
        height: 100px;
    }

    .profile_side{
        text-align: left;
        margin: 0;
    }
    section#active_page{
        margin-top: 0;
    }

    .profile_side_top{
        margin-bottom: 3px;
    }

    .profile_side_top h1{
        font-size: 25px;
    }

    .profile_side_top a{
        margin-left: 10px;
        float: none;
        display: inline-block;
    }

    .profile_side_top a span button{
        width: 100%;
        padding: 0 5px;
        font-size: 14px;
    }

    .profile_side ul{
        margin-bottom: 5px;
    }

    article#profile1{
        padding: 1%;
    }

    .profile_side_down {
        font-size: 14px;
    }

    .user_profile_header{
        margin-bottom: 40px;
    }

    .gala_image div div{
        max-width: 240px;
        max-height: 200px;
    }

    .gala_header{
        padding: 10px;
        height: 35px;
    }

    section#gallery1 div{
        margin-bottom: 5px;
    }

    .gala_comment{
        padding: 0 5px;
    }

    .gala_comment_user{
        font-size: 12px;
        font-family: sans-serif !important;
    }

    .gala_comment ul li span{
        font-family: sans-serif !important;
        background-color: #ffffff !important;
    }

    .like{
        width: 20px;
        height: 20px;
    }

    section#gallery1 div div article{
        margin-bottom: 30px;
    }

    .gala_image div div{
        margin: 0 auto !important;
    }

    div#header{
        display: none;
    }

    div#header2{
        display: block;
    }

    .dash-side{
        display: none;
    }

    .volume{
        margin: 0;
    }

    .dash_img1{
        width: 140px;
        height: 120px;
        float: none;
        display: inline-block;
    }

    .dash_img2{
        padding: 5px !important;
    }

    .dash_img{
        text-align: left;
    }

    iframe#frame1{
        display: none;
        height: 70%;
        width: 100%;
        margin: 0 auto;
    }

    iframe#frame2{
        width: 100%;
        height: 70%;
    }

    iframe#frame3{
        display: none;
        height: 70%;
        width: 100%;
        margin: 0 !important;
    }

    .mobile_frame{
        display: block;
        width: 100%;
        text-align: center;
        background-color: #efefef;
        height: auto;
        font-size: 1.5em;
        color: #fff;
        padding: 7px;
        font-family: sans-serif;
    }

    div#cam1{
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }

    div#cam2{
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }

    div#cam3{
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }

    div#cam11 div{
        margin-right: 0 !important;
        margin-left: 0 !important;
        height: 10% !important;
        padding: 10px !important;
    }

    div#cam22 div{
        margin-right: 0 !important;
        margin-left: 0 !important;
        height: 10% !important;
        padding: 5px !important;
        text-align: left !important;
    }

    div#cam22 div button{
        margin-left: 20px !important;
    }

    div#cam22 div span button{
        margin-left: 20px !important;
    }

    .new_cam_butt{
        font-weight: 100;
        font-family: Monaco !important;
        color: #fff;
        background-color: #4a4a4a;
        margin-right: 3%;
    }

    footer{
        margin: 0 !important;
        background-color: #efefef;
    }

    article#camera1{
        background-color: #efefef;
    }

    ul#layer li{
        text-align: left !important;
    }

    .campics div{
        margin: 0;
        display: inline-block;
        width: auto;
        height: auto;
    }

    .campics div div button{
        width: 160px !important;
        height: 140px !important;
        margin-right: 15px;
    }

    .comment_text{
        width: 90% !important;
    }

    div#main1{
        margin: 0 !important;
    }

    .profile_img_box1{
        margin-right: 2% !important;
    }
}