@media only screen and (min-width: 396px) and (max-width: 570px){
    .profile_img{
        width: 100px !important;
        height: 100px !important;
    }

    .user_profile_header{
        margin-bottom: 10% !important;
        text-align: left;
    }

    .profile_img_box1{
        margin-right: 5px;
        float: none;
        display: inline-block;
    }

    .profile_side{
        margin-left: 30px !important;
        float: none;
        display: inline-block;
        text-align: left;
    }

    .profile_side_top{
        margin-bottom: 10px;
    }

    .profile_side_top h1{
        font-size: x-large;
    }

    .profile_side_top a{
        float: none;
        display: inline-block;
        margin-left: 10px;
    }

    article#profile1{
        margin: 0 auto 30px !important;
        padding: 5%;
    }

    .profile_side_top a span button{
        font-size: medium;
    }

    .profile_side ul{
        margin-bottom: 5px;
    }

    .profile_side_down{
        font-size: medium;
    }

    .profile_side_down h2 {
        font-weight: 400;
    }

    .dash_img{
        text-align: left;
    }

    .dash_img1{
        float: none;
        display: inline-block;
        width: 160px;
        height: 120px;
    }

    .gala_image div div{
        max-height: 400px;
        max-width: 400px;
        margin: 0 auto !important;
    }

    div#header{
        display: none;
    }

    div#header2{
        display: block;
    }

    .dash-side{
        display: none;
    }

    .volume{
        margin: 0;
        padding: 0;
    }

    iframe#frame1{
        display: none;
        height: 70% !important;
        width: 100%;
        margin: 0 auto;
    }

    iframe#frame2{
        width: 100%;
        height: 70% !important;
    }

    iframe#frame3{
        display: none;
        height: 70% !important;
        width: 100%;
        margin: 0 !important;
    }

    .mobile_frame{
        display: block;
        width: 100%;
        text-align: center;
        background-color: #efefef;
        height: auto;
        font-size: 1.5em;
        color: #fff;
        padding: 7px;
        font-family: sans-serif;
    }

    div#cam1{
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }

    div#cam2{
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }

    div#cam3{
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }

    div#cam11 div{
        margin-right: 0 !important;
        margin-left: 0 !important;
        height: 10% !important;
        padding: 10px !important;
    }

    div#cam22 div{
        margin-right: 0 !important;
        margin-left: 0 !important;
        height: 10% !important;
        padding: 3% !important;
        text-align: left !important;
    }

    div#cam22 div button{
        margin-left: 10% !important;
    }

    .new_cam_butt{
        font-weight: 100;
        font-family: Monaco !important;
        color: #fff;
        background-color: #4a4a4a;
        margin-right: 50px;
    }

    footer{
        margin: 0 !important;
        background-color: #efefef;
    }

    article#camera1{
        background-color: #efefef;
    }

    ul#layer li{
        text-align: left !important;
    }

    .campics div{
        margin: 0;
        display: inline-block;
        width: auto;
        height: auto;
    }

    .campics div div button{
        width: 160px !important;
        height: 140px !important;
        margin-right: 15px;
    }
}