@media only screen and (min-width: 570px) and (max-width: 900px){
    .gala_image div div{
        max-height: 400px;
        max-width: 400px;
        margin: 0 auto !important;
    }

    section#gallery1{
        max-width: 400px;
        margin: 0 !important;
    }

    body{
        max-width: 100% !important;
    }

    .dash-side{
        width: 150px;
    }

    .volume{
        margin-left: 25%;
    }

    section#gallery1{
        margin-left: 10% !important;
    }

    .logo{
        padding: 2% 2%;
    }

    .sign-out{
        float: none;
        display: inline-block;
        margin-left: 60% !important;
    }

    .comment_text{
        width: 90%;
    }

    .dash_img1{
        width: 200px;
        height:160px;
        float: none;
        display: inline-block;
    }

    .dash_img2{
        padding: 5px !important;
    }

    .dash_img{
    }

    .profile_img{
        width: 100px;
        height: 100px;
    }

    .profile_side{
        margin-left: 10px;
        float: none;
        display: inline-block;
    }

    .profile_img_box1{
        margin-right: 10px;
        float: none;
        display: inline-block;
    }

    .like{
        width: 25px;
        height: 25px;
    }

    iframe#frame1{
        display: none;
        height: 70%;
        width: 100%;
        margin: 0 auto;
    }

    iframe#frame2{
        width: 100%;
        height: 70%;
    }

    iframe#frame3{
        display: none;
        height: 70%;
        width: 100%;
        margin: 0 !important;
    }

    .mobile_frame{
        display: block;
        width: 100%;
        text-align: center;
        background-color: #efefef;
        height: auto;
        font-size: 1.5em;
        color: #fff;
        padding: 7px;
        font-family: sans-serif;
    }

    div#cam1{
        margin: 0 0 0 10px !important;
    }

    div#cam2{
        margin: 0 0 0 10px !important;
    }

    div#cam3{
        margin: 0 0 0 10px !important;
    }

    div#cam11 div{
        margin-right: 0 !important;
        margin-left: 0 !important;
        height: 10% !important;
        padding: 10px !important;
    }

    .campics{
        text-align: left !important;
    }

    div#side_side{
        text-align: left !important;
    }

    div#cam22 div{
        margin-right: 0 !important;
        margin-left: 0 !important;
        height: 10% !important;
        padding: 3% !important;
        text-align: left !important;
    }

    div#cam22 div button{
        margin-left: 10% !important;
    }

    .new_cam_butt{
        font-weight: 100;
        font-family: Monaco !important;
        color: #fff;
        background-color: #4a4a4a;
        margin-right: 50px;
    }
}